# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
.cursor/
.phpactor.json

# Logs
*.log

# Environment
.env
.env.backup
.env.production

# Dependencies
node_modules/
vendor/

# Build
/dist
/build

# Cache
.cache/
.phpunit.result.cache
